.aside-tools-user {
  background-color: aliceblue;
  padding: 1.2em;
  margin-top: 15px;
  margin-bottom: 15px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0,.2);
  border-radius: 20px;
  position: sticky;
  top: 20px;
  overflow: hidden;
  .content-aside {
    transition: .5s all ease-in-out;
    .row-head-aside-tools {
      .col-button {
        .btn-aside-tools-toogle {
          cursor: pointer;
          font-size: 35px;
          padding: 5px;
          transform: translateY(1px);
          line-height: normal;
          background-color: $white;
          border-radius: 50%;
          box-shadow: 2px 2px 4px rgba(0, 0, 0,.3);
          transition: .4s ease-in-out;
          &:hover  {
            background-color: $playtic_blue;
            color: $white;
          }
        }
      }
    }

    .row-body-aside-tools {
      margin-top: 1.2em;
      animation-duration: .8s;
    }
  }
}