@import "./../../node_modules/boxicons/css/boxicons.min.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-dosis;
}

body {
  background-color: $playtic_dark_blue;
  position: relative;
  min-height: 100vh;
  &.developmet-mode {
    background-color: $playtic_dark_blue;
  };
}

.site-main-content {
  margin-left: 250px;
  transition: .4s ease-in-out;
  background-color: $playtic_dark_blue;
  padding: 20px;
  &.show-menu-primary {
    margin-left: 80px;
  }

  .container-main-playtic {
    background-color: $white;
    width: 100%;
    position: relative;
    min-height: 100vh;
    border-radius: 20px;
  }

  @media screen and ( max-width: 768px ) {
    margin-left: 0;
    margin-top: 70px;
    &.show-menu-primary {
      margin-left: 0;
    }
  }


}

.btn {
  &:focus, &:active {
    box-shadow: none;
  }
}