$playtic_bg : #fff;

body {
  background-color: red;
  &.developmet-mode {
    //$playtic_bg : rgb(15, 13, 27);
    background-color: $playtic_bg;
  };

  h1, h2 {
    color: green;
    font-size: 53px;
  }
}