@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;600;700;800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

$font_ubuntu : 'Ubuntu', sans-serif;
$font_dosis : 'Dosis', sans-serif;

// Colors 
$playtic_ligth_blue:#5AA8E6;
$playtic_blue:      #018DFF;
$playtic_secondary: #2368B5;
$playtic_dark_blue: #030B1E;


$white :#fff;
$black :#000;


